<!DOCTYPE html>
<html>
<head>
    <title>Verification Failure</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: url("/static/books.jpeg");
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<h1 style="color: white">Verification Failure</h1>
<p style="color: white">We were unable to verify your account. Please try again or contact support.</p>
</body>
</html>
